<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Compañia de luz</title>
        <link rel="stylesheet" href="/assets/css/index.css">
    </head>
    <body>