<section>
    <form action="/luz" method="POST">
        <div>
            <label for="numero">Numero de recibo:</label>
            <input required type="number" name="numero">
        </div>
        <div>
            <label for="nombre">Nombre:</label>
            <input required type="text" name="nombre">
        </div>
        <div>
            <label for="domicilio">Domicilio:</label>
            <input required type="text" name="domicilio">
        </div>
        <div>
            <label for="servicio">Tipo servicio:</label>
            <select name="servicio">
                <option value="1">Doméstico</option>
                <option value="2">Comercial</option>
                <option value="3">Industrial</option>
            </select>
        </div>
        <div>
            <label for="kilowatts">Kilowatts Consumidos:</label>
            <input required type="number" name="kilowatts">
        </div>
        <div class="botones">
            <button type="submit">Enviar Información</button>
            <button class="limpiar">Limpiar</button>
        </div>
    </form>
</section>