<%-include('partials/head.ejs')%>

<%-include('partials/encabezado.ejs')%>
<%-include('partials/navegacion.ejs')%>

<% if(pagina === 'entrada') { %>
    <%-include('./entrada.ejs')%>
<% } else { %>
    <%-include('./salida.ejs')%>
<% } %>

<%-include('partials/piepagina.ejs')%>
<%-include('partials/footer.ejs')%>