<section class="salida">
    <p>Nombre</p>
    <p>Tipo de Servicio</p>
    <p>Kilowatts consumidos</p>
    <p>Costo por kilowatts</p>

    <p><%= recibo.nombre %></p>
    <% const servicios = ['Domicilio', 'Comercial', 'Industrial']; %>
    <p><%= servicios[recibo.servicio] %></p>
    <p><%= recibo.kilowatts %></p>
    <p><%= recibo.precio %></p>

    <div></div>
    <div></div>
    <p>Subtotal:</p>
    <p><%= recibo.subtotal.toFixed(2) %></p>

    <div></div>
    <div></div>
    <p>Impuesto:</p>
    <p><%= (recibo.subtotal * 0.16).toFixed(2) %></p>

    <div></div>
    <div></div>
    <p>Descuento:</p>
    <p><%= recibo.descuento.toFixed(2) %></p>

    <div></div>
    <div></div>
    <p>Total a pagar:</p>
    <p><%= recibo.total.toFixed(2) %></p>
</section>