* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 30px;
    background-color: #7EFFD4;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

header > img {
    width: 500px;
}

h1 {
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 50px;
    padding: 20px 12px;
    color: #fff;
    background-color: #333333;
}

nav > a {
    text-decoration: none;
    color: inherit;
}

section {
    padding: 50px;
    background-color: #E6DC94;
}

section > form {
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

input, select, button {
    padding: 6px 9px;
}

footer {
    text-align: center;
    padding: 20px 12px;
    background-color: #DC7092;
}

.salida {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
}